<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User DashBoard</title>
</head>
<body>

	<section>
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="card mr-3 ml-3 mt-2">
					<div class="card-body">
						<h2 class="container text-center">Change Your Password</h2>
						<form action="" th:action="@{/user/change-password}" method="post">

							<input type="text" name="old" class="form-control mt-4"
								placeholder="Enter Your Old Password" /> <input type="text"
								name="new" class="form-control mt-4"
								placeholder="Enter Your New Password" />

							<div class="container text-center mt-4">
								<button type="submit" class="btn  btn-primary">Submit</button>
								<button type="reset" class="btn  btn-warning">Reset</button>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script>
	$(document).ready(() => {
	
	$(".item").removeClass("active2");
	$("#setting-link").addClass("active2");
});



	</script>
	</section>
</body>
</html>