<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About</title>
</head>
<body>


	<section>
		<div class="card mr-4 ml-3 " style="background: #00FFFF;">
			<div class="card-body">
				<div class="container-fluid mt-1">
					<h1 class="text-center">Welcome to the Smart Contact Manager</h1>

					<div class="row">
						<div class="col-md-10 offset-md-1 mt-3">

							<div class="container">

								<h4>
									<p>A contact manager is a software program that enables
										users to easily store and find contact information, such as
										names, addresses, and telephone numbers.</p>

									<p>They are contact-centric databases that provide a fully
										integrated approach to tracking all information and
										communication activities linked to contacts.</p>


									<p>Simple ones for personal use are included in most
										smartphones. The main reference standard for contact data and
										metadata, semantic and interchange, is the vCard.</p>

									<p>Sophisticated contact managers provide calendar sharing
										features and allow colleagues to access the same database. The
										main reference standard is the vCalendar.</p>
									<p>In management terminology, advanced contact managers can
										be called individual resource management (IRM) or contact
										management (CM) tools – systems for managing an individual's
										interactions with current and future contacts, to organize,
										collaborate, and synchronize health, lifestyle, and financia l
										needs.</p>


									<p>Centralized repository of contact information
										Ready-to-use database with searching ,
										Sales tracking Email,
										integration.</p>
								</h4>
							</div>


						</div>
					</div>

				</div>
			</div>
		</div>

	</section>

</body>
</html>