<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Log In</title>


</head>
<body class="bg">


	<section>
		<div  id="login">
			<div class="container">
			
				<div id="login-row"
					class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
					<div th:if="${session.message}"
							 class="alert alert-danger my-5 text-center">


								<h3 class="text-center" th:text="${session.message}"></h3>
							 <!-- <th:block th:text="${#session.removeAttribute('message')}"></th:block>  -->


							</div>
						<div id="login-box" class="col-md-12" style="height:185px;">
							
							
							
							<form id="login-form" class="form" th:action="@{/forgot-process}"
								action="" method="post">
								
								
								<h3 class="text-center text-info mt-1">Your Linked E-Mail</h3>
								
								<input required type="text" name="email" class="form-control mt-4" placeholder="Enter Your E-Mail"/>
								<div class="container text-center mt-3">
								<button type="submit" class="btn btn-warning">send otp</button></div>
							</form>
						</div>
					</div>
				</div>
				
				
				
				
			</div>

		</div>
	</section>


</body>
</html>