<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>

	<section
		class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="text-weight-bold">Smart Contact Manager</h1>
			<p>Start collecting your contacts in smarter way.We provide very
				efficient and smarter way of handling contacts</p>
				<button class="btn btn-primary text-white">Get Start</button>
		</div>

	</section>

</body>
</html>